<h2>All Shared Images</h2>

<div class="masonry">
  <% images.forEach(img => { %>
    <div class="card">
      <img src="<%= img.imageUrl %>" alt="Image" onerror="this.src='/placeholder_image.png';">
      <p>Shared by: <a href="/user/<%= img.username %>"><%= img.username %></a></p>
    </div>
  <% }) %>
</div>