<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pinterest Clone</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1><a href="/">Pinterest Clone</a</h1>
      <nav>
        <% if (user) { %>
          <span>Welcome, <%= user.username %>!</span>
          <a href="/dashboard">My Dashboard</a>
          <a href="/auth/logout">Logout</a>
        <% } else { %>
          <a href="/auth/github">Login with GitHub</a>
        <% } %>
      </nav>
    </header>
    <main>
      <%- body %>
    </main>       
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script>
      window.onload = function () {
        const grid = document.querySelector('.masonry');
        if (grid) {
          new Masonry(grid, {
            itemSelector: '.card',
            columnWidth: '.card',
            gutter: 10,
            fitWidth: true
          });
        }
      };
    </script>
        
  </body>
</html>